apiVersion: apps/v1
kind: Deployment
metadata:
  name: fraud-detection-api
  labels:
    app: fraud-detection-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fraud-detection-api
  template:
    metadata:
      labels:
        app: fraud-detection-api
    spec:
      serviceAccountName: telemetry-ksa
      containers:
        - name: api-container
          image: asia-south1-docker.pkg.dev/phonic-axle-473506-u8/fraud-api-repo/fraud-api:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          readinessProbe:
            httpGet:
              path: /ready_check
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 2
          livenessProbe:
            httpGet:
              path: /live_check
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 2

